# .gitignore for DeekSeekBingFinder
__pycache__/
*.pyc
error_screenshot.png
debug.png
.env
.DS_Store
*.log
points_error.png
searches.db
*.db
dist/
build/**
!build/*.ps1
!build/*.iss
!build/*.md
.vscode/
